{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body text-center">
                <h3 class="text-white mb-3"><i class="bi bi-flag"></i> Report a Problem</h3>
                <p class="text-white-50">If you run into an issue, reach out directly and share the details so we can help quickly.</p>
                <a href="https://www.facebook.com/ImKaveesha/" target="_blank" class="btn btn-primary btn-lg">
                    <i class="bi bi-facebook"></i> Contact on Facebook
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
